<%- include('includes/head.ejs') %> <%- include('includes/navigation.ejs') %>
<h1>Home</h1>

<h4>Enter your name:</h4>
<form action="/add-name" method="POST">
  <input type="text" name="name" id="name" />
  <button type="submit">Add</button>
</form>

<%- include('includes/end.ejs') %>
