<%- include('includes/head.ejs') %> <%- include('includes/navigation.ejs') %>
<h1>Users</h1>

<% if (users.length > 0) { %>
<ul>
  <% for (let user of users) { %>
  <li><%= user%></li>
  <% } %>
</ul>
<% } else { %>
<h1>No Users Found</h1>

<% } %> <%- include('includes/end.ejs') %>
